.button {
    background-color: green;
    -fx-background-color: green;
}


/* Table text should always be white */

.table-view .column-header-background .label {
    background-color: transparent;
    -fx-background-color: transparent;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

.table-cell {
    -fx-text-fill: black;
    font-size: 1em;
    -fx-font-size: 1em;
}

.table-row-cell:hover {
    background-color: rgb(52, 143, 235);
    -fx-background-color: rgb(52, 143, 235);
    -fx-text-fill: white;
}

.table-row-cell:selected {
    background-color: rgb(52, 143, 235);
    -fx-background-color: rgb(52, 143, 235);
    -fx-text-fill: white;
}

.biggerSize {
    font-size: 2em;
    -fx-font-size: 2em;
    -fx-text-fill: black;
}

.evenbiggerSize {
    font-size: 3em;
    -fx-font-size: 3em;
    -fx-text-fill: black;
}